.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: cadetblue;
    height: 30vh;
    margin-top: 10rem;
}

.main a{
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    font-size: larger;
}


.main a:hover{
   color: darkcyan;
}
.main a:active{
   color: rgb(170, 29, 29);
}

@media (max-width: 800px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: cadetblue;
        height: 30vh;
        margin-top: 10rem;
    }
}